# Docs for the Azure Functions Deploy action: https://github.com/Azure/functions-action
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Functions - interlinkstoragetask

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: mcr.microsoft.com/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_060127D37A7C4D8FBEA3530343183106 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_900DD8A7D70749109948B3E382546867 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: mcr.microsoft.com/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_060127D37A7C4D8FBEA3530343183106 }}/azure-functions/dotnet:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_5AB52166BD7A4797999FBB0CC6BE4F4D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5E472849443A4F049A90AE879A9E7221 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_49208E74F46C4F3FBBCD749512F01BB6 }}

      - name: Deploy to Azure Functions
        id: deploy-to-functions
        uses: azure/functions-deploy@v2
        with:
          app-name: 'interlinkstoragetask'
          slot-name: 'Production'
          images: 'mcr.microsoft.com/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_060127D37A7C4D8FBEA3530343183106 }}/azure-functions/dotnet:${{ github.sha }}'
          